
/* Colors: blue -> #001e3c;*/

body {
    font-family: Arial, sans-serif;
    background-color: #001e3c;
    color: #ffffff;
    text-align: center;
}

h1 {
    background-color: #D50A0A;
    padding: 20px;
    margin: 10 0 0 0;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #D50A0A;

}

p{
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
}
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.chart-container svg {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #D50A0A;
}

.tooltip {
    position: absolute;
    background: lightgray;
    padding: 5px;
    display: none;
}
.graph-container{
    padding-left:  25px;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    margin: 0;

}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    height: 400px;
    width: 350px;
    margin: 200px 30px 0px 30px;
    text-align: left;
    border-radius: 15px;
}

select{
    padding: 10px;
    margin-right: 40px;
}
svg{
    padding: 20px;
}

img{
    padding: 10px;
    margin: 25px;
}
.bold{
    font-weight: bold;
}
strong{
    padding: 0;
    margin: 0;
}
.gridlines{
    color: black;
}
.graph-selection{
    justify-content: center;
    margin: 40px 0px 0px 0px;
}
.row{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.action{
    text-align: center;
}